<form class="form-horizontal" action="/treesplitting" method="post">
 {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
        {{ field.errors }}
         <label class="control-label col-sm-2">{{field.label_tag}}</label>
        <div class="col-sm-10">{{ field }}</div>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        </div>
{% endfor %}
     <div id="button">
         <input id="submit" class="submit_button btn btn-lg btn-block wow fadeInUp" type="submit" value="SIMULATE" />
     </div>
</form>